:root {
  --sparkline_ai_fill: rgba(0,255,0,0.2);
  --sparkline_ai_stroke: #0F0;
  --sparkline_ao_fill: rgba(255,0,0,0.2);
  --sparkline_ao_stroke: #F00;
}

.downlight {
	box-shadow: 1px 1px 2em 0.1em red !important;
}

.shadow{-webkit-box-shadow:0 .5rem 1rem rgba(0,0,0,0.15)!important;box-shadow:0 .5rem 1rem rgba(0,0,0,0.15)!important}

#ID_AI .progress-bar {
	background: linear-gradient(to right, #00000000 0%, #00FF0011 50%, #00FF0055 100%) !important;
	filter: saturate(100%);
	border-right: solid 0.35em #0F0;
}
#ID_AO .progress-bar {
	background: linear-gradient(to right, #00000000 0%, #FF000011 50%, #FF000055 100%) !important;
	filter: saturate(100%);
	border-right: solid 0.35em #F00;
}

.digi_in {
	background: radial-gradient(circle, #00000011 0%, #00FF0055 50%, #00FF0077 100%) !important;
	border: 1px solid #0F0;
}
.digi_out {
	background: radial-gradient(circle, #00000011 0%, #FF000055 50%, #FF000077 100%) !important;
	border: 1px solid #F00;
}

.SHMI_level {
	bottom: 0;
	width: inherit;
	height: 10em;
	position: absolute;
    background: linear-gradient(to top, #FFFFFF11 0%, #00ff0033 50%, #00FF0077 100%) !important;
    border-top: 3px solid  #0F0;
	border-radius: inherit;
	transition: height 1s ease;
	mix-blend-mode: multiply;
}
