/* decoration =================================================================*/
/*
body {
     background: radial-gradient(ellipse at center, #767676 0%,#525252 60%,#3a3a3a 100%) fixed;
     background-attachment: fixed;
}
*/
.downlight {
	box-shadow: 1px 1px 2em 0.1em black;
}

/* page / frame ===============================================================*/

#pageContainer {
	top: 5em;
}

.main {
	position: absolute;
	top: 20px;
}

/* table ======================================================================*/

#ID_digital_out,
#ID_digital_in {
	width: 100%
}

#ID_DI td:nth-child(1),
#ID_DO td:nth-child(1),
#ID_AI td:nth-child(1),
#ID_AO td:nth-child(1) {
	width: 15em;
	white-space: nowrap;
	padding-right:3em;
}

#ID_DI td:last-child,
#ID_DO td:last-child {
	padding-left:3em;
	text-align:center;
}

/* Flot =======================================================================*/

.flot-y1-axis,
.flot-x1-axis {
	fill: var(--secondary);
}

/* Misc =======================================================================*/

.cursor-pointer {cursor: pointer;}
.nobr {white-space:nowrap;}
