/* SHMI_Instruments.css
2020 by Thorsten Willert
License: MIT

28.01.2020*/

:root {
  --sparkline_ai_fill: var(--success);
  --sparkline_ai_stroke: #0F0;
  --sparkline_ao_fill: var(--danger);
  --sparkline_ao_stroke: #F00;
}

.analog {
	width: 5em;
	text-align: center; }

/* analog meter ===============================================================*/
.progress {
    position: relative;
    height: 2em;
	/*background: linear-gradient(to bottom, #00000022 0%,#66666622 100%) !important;*/ }
.progress-bar {
	transition: width 1s ease-in-out;
}
.progress > .progress-setpoint {
	position: absolute;
	height: inherit;
	left: 0em;
	background-color: rgba(25, 25, 25, 0.4);}
/* colors are set in the jQuery init() status.html */
.progress > .progress-peak {
	position: absolute;
	height: inherit;;
	transition: width 1s linear; }
.progress > .progress-low {
	position: absolute;
	height: inherit;
	transition: width 1s linear; }

/* scale --------------------------- */
.scale-table {
	table-layout: fixed;
    width: 100%;
	color: var(--secondary);
	font-weight: normal;
	font-size: 0.9em;
    text-align: center;
}
.scale td  {
    width: 10%;
	white-space: nowrap;
}

/* digital IO =================================================================*/
/* border are set in the jQuery init() */

#ID_digital_in td, #ID_digital_out td {
	padding:0.3em
}

.digi_back {
	width: 1.5em;
	height: 1.5em;
	border-radius: 90%; /* circle */
	background: linear-gradient(to top, #00000022 0%,#66666622 100%) !important;
	/* background: ##1c1e22 !important; */
}
.digi {
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity 0.5s ease; /* "led" speed */
	display: block;
	border-radius: inherit; /* circle */
}

/* RI =========================================================================*/

.SHMI_drag {
	position: absolute;
	display: block;
	width: 10em;
	padding: 0.5em;
	color: var(--light);
	border-radius: 0.3em;
	background-color: var(--dark);
	opacity: 0.9;
	font-weight: bold;
}

.SHMI_drag_level {
	position: absolute;
	display: block;
	height: 10em;
	width: 10em;
	color: var(--light);
	border-radius: 0.3em;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	font-weight: bold;
}

.SHMI_level {
	bottom: 0;
	width: inherit;
	height: 10em;
	position: absolute;
	display: block;
   /* background: linear-gradient(to top, rgba(0,0,0,0.4) 0%, rgba(58,136,255,0.6) 100%);*/
    background: linear-gradient(to top, rgba(255,255,255,0.7) 0%, var(--success) 100%);
    border-top: 3px solid  #0F0;
	border-radius: inherit;
	font-weight: bold;
	transition: height 1s ease;
	mix-blend-mode: multiply;
}

.SHMI_level_value {
	bottom: 0;
	position: absolute;
	right: 0px;
	color: var(--light);
	width: 4em;
	padding:0.3em;
	border-radius: inherit;
	background:var(--dark);
	opacity:0.9;

}

.SHMI_drag_DO {
	transition: opacity 0.5s ease;
	text-align: center;
}
.SHMI_drag_DI {
	transition: opacity 0.5s ease;
	text-align: center;
}
.SHMI_drag_DI .fas {
	color:  var(--success);
}
.SHMI_drag_DO .fas {
	color: var(--danger);
}
.SHMI_drag_AI {
}
.SHMI_drag_AO {
}

.circle {
	font-size: 10em;
	display: inline-block;
	width: 0.4em;
	box-sizing: content-box;
	height: 0.4em;
	border: 0.1em solid red;
	position: relative;
	border-radius: 0.35em;
}
