/* SHMI_Instruments.css
2020 by Thorsten Willert
License: MIT

04.02.2020*/

:root {
/* analog meter + level */
  --level_ai_meter: var(--teal);
  --level_ao_meter: var(--teal);

  --level_peak: rgb(255,170,0);
  --level_valley: rgb(68,135,255);
  --level_setpoint: var(--white);

/* sparklines */
  --sparkline_ai_fill: var(--teal);
  --sparkline_ai_stroke: var(--teal);
  --sparkline_ao_fill: var(--teal);
  --sparkline_ao_stroke: var(--teal);

/* RI instruments */
  --SHMI_drag_bg: var(--dark); /* background-color */
  --SHMI_drag_txt: var(--light); /* text-color */

  --SHMI_level_bg:  var(--teal);
}

.analog {
	width: 5em;
	text-align: center; }

/* analog meter ===============================================================*/
.progress {
    position: relative;
    height: 2em;
}
.progress-bar {
	transition: width 1s ease-in-out;

}
.progress > .progress-setpoint {
	position: absolute;
	height: inherit;
	left: 0em;
	background-color: rgba(25, 25, 25, 0.4)
}

/* colors are set in the jQuery init() status.html */
.progress > .progress-peak {
	position: absolute;
	height: inherit;
	transition: width 1s linear;
}
.progress > .progress-low {
	position: absolute;
	height: inherit;
	transition: width 1s linear;
}
#ID_AI .progress-bar {
	background: var(--level_ai_meter) !important;
	filter: saturate(50%);
	border-right: solid 0.35em #0F0 !important;
}
#ID_AO .progress-bar {
	background: var(--level_ao_meter) !important;
	filter: saturate(80%);
	border-right: solid 0.35em #F00 !important;
}

/* scale --------------------------- */
.scale-table {
	table-layout: fixed;
    width: 100%;
	color: var(--secondary);
	font-weight: normal;
	font-size: 0.9em;
    text-align: center;
}
.scale td  {
    width: 10%;
	white-space: nowrap;
}

/* digital IO =================================================================*/
/* border are set in the jQuery init() */

#ID_digital_in td, #ID_digital_out td {
	padding:0.3em
}
.digi_IO {
	width: 1.5em;
	height: 1.5em;
	border-radius: 0.3em;
}
.digi_back,
.digi {
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: inherit;
}
.digi_back {
	background: linear-gradient(to top, #00000022 0%,#66666622 100%) !important;
}
.digi {
	transition: opacity 0.5s ease;
}

#ID_DI .digi {
	background: var(--teal);
	border: 1px solid #0F0;
}
#ID_DO .digi {
	background: var(--teal);
	border: 1px solid #F00;
}

/* RI =========================================================================*/

.SHMI_drag {
	position: absolute;
	display: block;
	width: 10em;
	height: 55px;
	padding: 0.5em;
	color: var(--SHMI_drag_txt);
	border-radius: 0.3em;
	background-color: var(--SHMI_drag_bg);
	font-weight: bold;
}

.SHMI_drag_level {
	position: absolute;
	display: block;
	height: 10em;
	width: 10em;
	border-radius: inherit;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	font-weight: bold;
}
.SHMI_level {
	bottom: 0;
	width: inherit;
	position: absolute;
    background:  var(--SHMI_level_bg);
    border-top: 3px solid  #0F0;
	border-radius: inherit;
	transition: height 1s ease;
	mix-blend-mode: multiply;
}

.SHMI_level_value {
	position: absolute;
	bottom: 0.3em;
	right: 0.3em;
	color: var(--SHMI_drag_txt);
	width: 4em;
	padding:0.3em;
	border-radius: inherit;
	background:var(--SHMI_drag_bg);
	text-align: center
}

.SHMI_drag_DO,
.SHMI_drag_DI {
	transition: opacity 0.5s ease;
	text-align:center;
}
.SHMI_drag_AI,
.SHMI_drag_AO {
}
